/* @media screen and (min-width: 900px) {
} */

html {
    display: flex;
    justify-content: center;
}

body {
    max-width: 600px;
    width: 85%;
    margin: 12px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

img {
    max-width: 600px;
    width: 85%;
}

figure {
  max-width: 600px;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  color: rgba(34, 36, 39, 0.6);
  margin: -0.5em;
}

.menu-item {
    font-size: 15px;
    font-weight: normal;
    color: #593196;
    padding: 1px 8px 1px 8px;
    border-bottom: none;
}

.menu-item:hover {
    font-size: 15px;
    font-weight: normal;
    color: #e64a6a;
    padding: 1px 8px 1px 8px;
    border-bottom: none;
}

.menu-item:first-of-type {
    margin-right: 3px;
}

.menu-item:last-of-type {
    margin-left: 3px;
}

.home {
    margin-bottom: 10px;
    margin-top: 70px;
}

.home a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 45px;
    color: black;
    border-bottom: none;
}

.home a:hover {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 45px;
    color: #e64a6a;
    border-bottom: none;
}

.sub-nav {
    margin-bottom: 35px;
}

.header {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 25px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 60%,
        #ffee62 50%
    );
}

.job-info {
    width: 100%;
    margin-left: -2px;
    margin-bottom: 10px;
}

.job-name a {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #593196;
    border-bottom: none;
    transition: all 0.3s ease;
}

.job-name a:hover {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #e64a6a;
    border-bottom: none;
    transition: all 0.3s ease;
}

.job-date {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-align: right;
}

.job-title {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.job-team {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: rgba(34, 36, 39, 0.6);
}

.project-info {
    width: 100%;
    margin-left: -2px;
    margin-bottom: 12px;
}

.project-name a {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #593196;
    border-bottom: none;
    transition: all 0.3s ease;
}

.project-name a:hover {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #e64a6a;
    border-bottom: none;
    transition: all 0.3s ease;
}

.project-links {
    text-align: right;
}

.project-link {
    margin: 0px 4px 0px 4px;
    font-weight: normal;
}

.project-link:hover {
    font-weight: normal;
}

.project-desc {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.pub-info {
    width: 100%;
    margin-left: -2px;
    margin-bottom: 10px;
}

.pub-name {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #593196;
    border-bottom: none;
}
.pub-authors {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

.pub-conf {
    font-family: "Open Sans", sans-serif;
	color: #593196;
    font-size: 13px;
}

.pub-links {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 13px;
}

.pub-links a:hover {
    font-weight: normal;
}

.pub-abstract {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
	color: rgba(34, 36, 39, 0.6);
}

.posts-info {
    width: 100%;
    margin-left: -2px;
    margin-bottom: 14px;
    border-spacing: 2px 0px;
}

.post-quote {
    font-style: italic;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-left: 15px;
    border-left: 3px solid #593196;
}

.post-date {
    text-align: right;
}

.post-title a {
    font-family: "Open Sans", sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #593196;
    border-bottom: none;
    transition: all 0.3s ease;
}

.post-title a:hover {
    font-family: "Open Sans", sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #e64a6a;
    border-bottom: none;
    transition: all 0.3s ease;
}

.post-date p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

.post-tags {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    margin-top: -8px;
}

.post-tags a {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    border-bottom: none;
    color: rgba(34, 36, 39, 0.6);
}

.post-tags a:hover {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    border-bottom: none;
}

.post-meta {
    margin-top: 25px;
}

.post-detail-date {
    font-size: 15px;
    color: rgba(34, 36, 39, 0.6);
    margin-top: -12px;
}

.toc {
    margin-bottom: 40px;
}

.toc-header {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 60%,
        #A991D4 50%
    );
}

.copyright {
    margin-top: 65px;
    text-align: center;
}

.footer-links {
    margin-bottom: 35px;
    text-align: center;
}

.source {
    margin-right: 3px;
}

.highlight {
    background-color: rgba(220, 220, 220, 0.3);
    padding: 5px 2px 3px 5px;
    border-radius: 8px;
}

.dark-mode-toggle {
    color: #A991D4;
    cursor: pointer;
    float: right;
    margin-top: 45px;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

li {
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
    font-size: 15px;
}

li > a {
    margin-top: 10px;
    background-color: rgba(220, 220, 220, 0.3);
}

li > a:hover {
    margin-top: 10px;
    color: #e64a6a;
    border-bottom: 2px solid #e64a6a;
}

a {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #593196;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 0px solid #593196;
    transition: all 0.3s ease;
}

a:hover {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #e64a6a;
    border-bottom: 0px solid #e64a6a;
}

blockquote {
    margin-left: 0px;
    padding-left: 15px;
    border-left: 3px solid #593196;
}

blockquote p {
    display: inline;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

hr {
    height: 2px;
    background-color: #593196;
    border: none;
    margin-top: 35px;
    width: 25%;
}

.inline-svg {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  top: 0.15rem;
  position: relative;
}

.table-post {
    border-collapse: collapse;
    width: 100%;
  }
.table-post td {
    border-top: 1px solid #593196;
    border-bottom: 1px solid #593196;
    padding: 0.6rem;
  }

a.footnote-ref {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    color: #593196;
    font-weight: bold;
    transition: all 0.3s ease;
    }

a.footnote-ref:hover {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #e64a6a;
    border-bottom: 0px solid #e64a6a;
    }