.a {
    color: #155084;
    transition: all 0.3s ease;
}

.a:hover {
    color: #b6d8f2;
}

.inline-svg {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  top: -0.05rem;
  position: relative;
}