<p class="copyright">Kevin Ta © {{ .Date.Format "2006" }}</p>
<p class="footer-links">
    <a class="source" href={{ .Site.Params.source }} target="_blank">
        <i class="fas fa-code"></i>
    </a>
    <a class="source" href={{ print (relURL "/posts/index.xml") }} target="_blank">
        <i class="fas fa-rss-square"></i>
    </a>
    <a class="source" href={{ .Site.Params.github }} target="_blank">
        <i class="fab fa-github"></i>
    </a>
    <a class="source" href={{ .Site.Params.linkedin }} target="_blank">
        <i class="fab fa-linkedin-in"></i>
    </a>
    <a class="source" href={{ .Site.Params.scholar }} target="_blank">
        <i class="fas fa-graduation-cap"></i>
    </a>
    <a class="source" href={{ .Site.Params.instagram }} target="_blank">
        <i class="fab fa-instagram"></i>
    </a>
</p>
